@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --main-bg-color: rgb(253, 230, 66);
    --main-font-color: rgb(128, 63, 30)
}

* {
    scroll-behavior: smooth;
    transition: all ease-in-out 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-weight: bold;
    margin: 0 auto;
    max-width: 90vw;
}

.section {
    flex: 1;
    text-align: center;
    font-size: clamp(2rem, 2vw, 3rem);

}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-evenly;
    margin: 0.5em 0;
    padding: 1em 0;
    top:0;

}

.navigation {
    display: flex;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    margin: 1em 0;
    padding: 0.5em 0;
    border-radius: 10px;
    text-align: center;
    float: right;
    justify-content: space-evenly;

}
.navigation ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.navigation li{
    margin: 0 1em;
}

.navigation a {
    font-size: clamp(2rem, 4vw, 6rem);
    text-decoration: none;
    color: inherit;
    padding: 5px;
    text-align: center;


}

.navigation a:hover {
    border-radius: 10px 25%;
    background-color: white;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin:10rem 0;



}

input[type="checkbox"] {
    padding: 6px;
    width: 2em;
    height: 2em;
    accent-color: var(--main-font-color);
}

label {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;

}


input[type="submit"] {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: 3px solid var(--main-font-color);
    width: 25%;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 5px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea[name="Frage"] {
    background-color: var(--main-bg-color);
    border: 3px solid var(--main-font-color);
    border-radius: 5px;
    margin-bottom: 6em;
    color: var(--main-font-color);
    font-size: 1em;
    width: 30vw;
}

section h2 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

img {
    display: flex;
    width: 80%;
    align-items: center;
    font-size: clamp(8rem, 20vw, 12rem);
    margin: auto;

}